  .nav-bar{
    display: flex;
    justify-content: flex-end;
    padding: 0 24px;
  }
  

  .user-label {
    padding: 10px 10px;
    font-size: 16px;
    font-family: Arial, sans-serif; 
    color: white
  }
